h1{ 
   color:hotpink;
   border-bottom: 5px dashed;
}

h2
{
  font-style:italic;
  color:blueviolet
  }
  .box{
    border:5px solid purple;
    padding:5px;
    background:lightblue;
   
  }
  a:hover{
    background-color:white;
  }
  
